.header-main {
    .navbar {
        .navbar-nav {
            li{
                a{
                    font-size: 1.8rem;
                }
            }
        }
        .nav-btn {
            font-size: 1.8rem;
            line-height: 1.5;
            border-radius: 0.2rem;
        }
    }
}
