.footer {
    background-color: rgba(232,240,252,1) !important;
    .jumbotron {
        background-color: rgba(232,240,252,1) !important;
        .left {
            p {
                text-align: justify;
            }
        }
    }
}