.page-header {
    background-color: rgba(232, 240, 252, 1) !important;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .content-center {
        margin-top: 85px;
    }
}
.page-header .filter::after {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.page-header.page-header-small {
    min-height: 65vh !important;
    max-height: 700px;
}
.page-header.page-header-xs {
    min-height: 40vh !important;
}

//   .page-header .motto {
//     text-align: left;
//     z-index: 3;
//     color: #fff;
//     position: relative; }

//     .page-header.section-dark .content-center,
//     .page-header.section-dark .category-absolute {
//       z-index: 1; }
